.container {
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.titulo {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #00ffcc;
}

.cardSection {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
